@*@model IEnumerable<WebApi_QuanLyBanHang.Models.KhachHangViewModel>*@
@using PagedList;
@using PagedList.Mvc;
@model PagedList<WebApi_QuanLyBanHang.Models.KhachHangViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayouAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().MAKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TENKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().NGAYSINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DIACHI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().NGAYDK)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MAKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TENKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NGAYSINH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIACHI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NGAYDK)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>


<div class="pagination" id="tad">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .pagination li{
        display: inline;
        text-align: right;
    }

    #tad{
        text-align: right;
    }
</style>
